<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css"
      integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
      <div id="navbar">
      <div class="logo"><img src="../iamges/logo.png" alt="" /></div>

      <div class="options">
        <ul id="navlinks" class="navlinks">
          <a href="../index.html"><li>Home</li></a>
          <a href="../Components/about.html"><li>About</li></a>
          <li>Gallery</li>
          <li>Plants</li>
          <li>Contact</li>
          <button>Know Me..</button>
        </ul>
      </div>
      <button class="hamburger-button" onclick="openNavbar()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
        









       <footer>
      <div class="footer-container">
        <div class="box1">
          <div>
            <ul>
              <li>Home</li>
              <li>About Us</li>
              <li>Our Programs</li>
              <li>Activities</li>
              <li>Gallery</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Contact Us</li>
              <li>Why Choose Us</li>
              <li>Our Teachers</li>
              <li>Learning Environment</li>
              <li>Safety & Care</li>
            </ul>
          </div>
          <div>
            <ul>
              <li>Indoor Plants</li>
              <li>Outdoor Plants</li>
              <li>Kids Activities</li>
              <li>Events & Celebrations</li>
              <li>Admissions</li>
            </ul>
          </div>
        </div>
        <div class="box2">
          <p>Little Sprouts Nursery</p>
          <img src="../iamges/logo.png" alt="" />
          <p>@Since2000</p>
        </div>
      </div>
    </footer>
    <script>
      function openNavbar() {
        navlinks.classList.toggle("active");
      }
    </script>
    
</body>
</html>